

.input-card-full {
    width: 100%;
    padding: 13px 15px;
    border-radius: 4px;
    background: #eaeaef;
    margin-bottom: 20px;
}

.input-card-mini {
    width: 300px;
    padding: 13px 15px;
    border-radius: 4px;
    background: #eaeaef;
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-left: 0px;
}
